*{
    margin: 0;
    padding: 0;
}
body, a{
    font: normal 1.1em Arial;
    color: white;
}
.cabecalho{
    /*USO DE FLEX-BOX (justify-content/align-items/flex-wrap) */
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /*Permite a quebra de linha quando o item atinjir o limite do conteúdo*/

    background-color: black;
    height: 100px;
    padding: 0px 30px 0px 30px;
}
.item_menu{
    padding: 10px;
    text-decoration: none;
    margin: 5px;
 
}
.item_menu:hover{
    background-color: #ff9500;
    color: black;
    border-radius: 5px;
    transition: 0.2s;
}
.login{
    background-color: #ff9500;
    padding: 10px;
    
    border-radius: 50px;
}
.login > a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}